<div class="container">
  <img [src]="imgurl" />
  <ul class="header">
    <li class="header_elements" (click)="scroll('myHome')">
      Home
    </li>
    <li class="header_elements" (click)="scroll('myIdea')">
      DEMO
    </li>
    <li class="header_elements" (click)="scroll('photos')">Gallery</li>
    <li class="header_elements">Innovate</li>
    <li class="header_elements">Credits</li>
  </ul>
</div>
<app-home-page id="myHome"></app-home-page>
<app-idea-page id="myIdea"></app-idea-page>
<app-photos-page id="photos"> </app-photos-page>
