<div class="gallery-container-background">
  <div class="gallery">
    <ul>
      <li class="a-photo">
        <img [src]="url1" />
        <h5>
          An Italian tourist using the audio guide
        </h5>
      </li>
      <li class="a-photo">
        <img [src]="url2" />
        <h5>An Egyptian tourist using the visual guide</h5>
      </li>
      <li class="a-photo">
        <img [src]="url3" />
        <h5>Spanish tourists using the audio guide</h5>
      </li>
    </ul>
  </div>
</div>
