.gallery-container-background {
  height: 100vh; /* full size of the screen */
  background-repeat: repeat;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("bg_img.JPG");
  padding: 1%;
  overflow: hidden;
  overflow-x: auto;
}
.gallery {
  margin-top: 15%;
  margin-left: 25%;
  max-width: 1000px;
  max-height: 500px;
  background-color: rgba(10, 172, 172, 0.616);
  overflow: hidden;
  overflow-x: auto;
  border-radius: 30%;
  border: 10px solid black;
}
ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.gallery ul li {
  display: inline-block;
  position: relative;
  list-style: none;
  overflow: hidden;
  animation: img_anim 15s ease-in-out infinite;
}
.gallery ul li h5 {
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: fit-content;
  color: cornsilk;
  bottom: 0;
  margin-left: 30%;
  font-size: 20px;
  padding: 3%;
}
img {
  width: 1000px;
  height: 500px;
}
@keyframes img_anim {
  0%,
  30% {
    left: 0px;
  }
  31%,
  61% {
    left: -1000px;
  }
  62%,
  90% {
    left: -2000px;
  }
}
