<div class="align">
  <div class="container">
    <div class="idea1">
      <iframe
        width="560"
        height="315"
        [src]="fetchURL()"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="idea">
      <p>
        Islamic history contributes to the history of Egypt, generally. However,
        compared to the Museum of Egyptian Antiquities, the Islamic artifacts
        are abstract, and not figurative which makes it hard for tourists to
        understand the history behind the piece. Therefore, in an attempt to
        make the knowledge delivery interactive, attract more tourist, and
        replace the actual tour guide, an augmented reality application was
        created to act as a tour guide for individual tourists.
      </p>
    </div>
  </div>

  <div class="container2">
    <img src="assets/lamp2.png" />
    <h1 class="title">The Application's Idea</h1>
  </div>
</div>
