.container {
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
  overflow: auto;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("bg_img.JPG");
  padding: 1%;
}
.the-demo-video {
  /* margin-top: 9%; */
  position: relative;
  height: 80%;
  width: 80%;
  background-color: black;
  box-sizing: border-box;
  border-radius: 10%;
  border: 50px black solid;
  margin: auto;
  margin-top: 7%;
}
iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
