<div class="credits-bg">
  <div class="credits-container">
    <div class="a-credit">
      <div class="header">Header's Logo</div>
      <div class="body">
        <p>This website's logo used is from FLATICON</p>
      </div>
    </div>
    <div class="a-credit">
      <div class="header">Flip Card's Picture</div>
      <div class="body">
        <p>The picture on the second flip card is from a medium article</p>
      </div>
    </div>
    <div class="a-credit">
      <div class="header">Innovation Tab</div>
      <div class="body">
        <p>
          The design used in the content of the innovation tab is from Canva
        </p>
      </div>
    </div>
    <div class="a-credit">
      <div class="header">Background</div>
      <div class="body">
        <p>This website's background is retrieved from Vecteezy</p>
      </div>
    </div>
  </div>
</div>
