.credits-bg {
  height: 100vh; /* full size of the screen */
  background-repeat: repeat;
  overflow: auto;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("bg_img.JPG");
  padding: 1%;
}
.credits-container {
  margin-top: 13%;
  margin-left: 15%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 300px;
}
.header {
  background-color: #5e5a80;
  max-width: 100%;
  height: 50px;
  text-align: center;
  font-family: "zilla slab", sans-serif;
  color: cornsilk;
  padding-top: 5%;
  font-weight: bold;
  font-size: 15px;

  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.body {
  background-color: cornsilk;
  height: 100px;
  max-width: 100%;
  padding: 5%;
  color: #5e5a80;
  font-family: "zilla slab", sans-serif;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  display: none;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  font-weight: bold;
}

.a-credit {
  padding-top: 3%;
  width: 20%;
  padding-left: 2%;
}
.header:hover + .body {
  display: block;
}
