<div class="credits-bg">
  <div class="credits-container">
    <div class="a-credit">
      <div class="header">Header's Logo</div>
      <div class="body">
        This website's logo used is from FLATICON
      </div>
    </div>
    <div class="a-credit">
      <div class="header">Flip Card's Picture</div>
      <div class="body">
        The picture on the second flip card is from a medium article
      </div>
    </div>
    <div class="a-credit">
      <div class="header">Innovation Tab</div>
      <div class="body">
        The design used in the content of the innovation tab is from Canva
      </div>
    </div>
    <div class="a-credit">
      <div class="header">Background</div>
      <div class="body">
        This website's background is retrieved from Vecteezy
      </div>
    </div>
  </div>
</div>
