.innovate-background {
  height: 100vh; /* full size of the screen */
  width: 100vw;
  background-repeat: repeat;
  overflow: auto;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("bg_img.JPG");
  padding: 1%;
  overflow-x: auto;
}
#progress_img {
  margin-top: 15vh;
  margin-left: 25vw;
  border-radius: 10%;
}
@media screen and (max-width: 1192px) {
  #progress_img {
    border-radius: 10%;
    height: 45vh;
    width: 60vw;
    margin-top: 15vh;
    margin-left: 25vw;
  }
}
