.homepage {
  background-color: cornsilk;
  height: 100vh; /* full size of the screen */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  background-image: url("IMG_5410.JPG");
}
.container {
  display: flex;
  flex-direction: column;
  height: 1000px;
  max-width: 100%;
}
/* .container1 {
  display: flex;
  flex-direction: row;
} */

.para {
  font-family: Brush Script MT, Brush Script Std, cursive;
  margin-top: 20%;
  margin-left: 33%;

  max-width: 50%;
}
#slogan {
  font-family: Brush Script MT, Brush Script Std, cursive;
  margin-left: 33%;

  max-width: 50%;
}
#collaboration {
  margin-left: 80%;
  color: black;
  background-color: #ffff76;
  border: solid 2px black;
  width: fit-content;
  max-width: 50%;
  transform: rotate(-90deg);
}
#collaboration:hover {
  background-color: #ffff62;
  border: solid 4px black;
}
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
