<div class="homepage">
  <div class="container">
    <div class="card-container">
      <div class="card">
        <div class="card-front">
          <p class="front-content">
            {{ card1Front }}
          </p>
        </div>
        <div class="card-back">
          <p class="back-content">
            <img class="back-content-image" src="assets/pointingSS.png" /><br />
            <br />{{ card1Back }}
          </p>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-front">
          <p class="front-content">{{ card2Front }}</p>
        </div>
        <div class="card-back">
          <p class="back-content">{{ card2Back }}</p>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-front">
          <p class="front-content">{{ card3Front }}</p>
        </div>
        <div class="card-back">
          <p class="back-content">
            <img
              class="back-content-image"
              src="assets/developer_pic.jpg"
            /><br />
            <br />{{ card3Back }}
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
